<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DanaBalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DanaBala">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MathExercisesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NumberIntroductionActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NumberRecognitionActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CountingActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ObjectCountingActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MatchingActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AudioMatchingActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <!-- Новая активность для рисования цифр -->
        <activity
            android:name=".NumberDrawingActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <!-- Новые упражнения на последовательности -->
        <activity
            android:name=".AscendingSequenceActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DescendingSequenceActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <!-- Упражнение на сравнение чисел -->
        <activity
            android:name=".NumberComparisonActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="landscape" />

        <!-- Новая упрощённая тренировка сравнения (детская) -->
        <activity
            android:name=".KidsComparisonActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="landscape" />

        <!-- Отдельные страницы результатов для каждого упражнения -->
        <activity
            android:name=".NumberRecognitionResultsActivity"
            android:exported="false"
            android:parentActivityName=".NumberRecognitionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CountingResultsActivity"
            android:exported="false"
            android:parentActivityName=".CountingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ObjectCountingResultsActivity"
            android:exported="false"
            android:parentActivityName=".ObjectCountingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MatchingResultsActivity"
            android:exported="false"
            android:parentActivityName=".MatchingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AudioMatchingResultsActivity"
            android:exported="false"
            android:parentActivityName=".AudioMatchingActivity"
            android:screenOrientation="portrait" />

        <!-- Страницы результатов для новых упражнений -->
        <activity
            android:name=".AscendingSequenceResultsActivity"
            android:exported="false"
            android:parentActivityName=".AscendingSequenceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DescendingSequenceResultsActivity"
            android:exported="false"
            android:parentActivityName=".DescendingSequenceActivity"
            android:screenOrientation="portrait" />

        <!-- Страница результатов для упражнения сравнения чисел -->
        <activity
            android:name=".NumberComparisonResultsActivity"
            android:exported="false"
            android:parentActivityName=".NumberComparisonActivity"
            android:screenOrientation="landscape" />

        <!-- Страница результатов для упражнения рисования цифр -->
        <activity
            android:name=".NumberDrawingResultsActivity"
            android:exported="false"
            android:parentActivityName=".NumberDrawingActivity"
            android:screenOrientation="portrait" />

        <!-- Новая игра: Лови цифру (теперь строго портретная ориентация) -->
        <activity
            android:name=".BubbleCatchActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <!-- Результаты игры Лови цифру (портретная) -->
        <activity
            android:name=".BubbleCatchResultsActivity"
            android:exported="false"
            android:parentActivityName=".BubbleCatchActivity"
            android:screenOrientation="portrait" />

        <!-- Новая игра: Цифровой ряд -->
        <activity
            android:name=".BlockMatchActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <!-- Страница результатов для игры Цифровой ряд -->
        <activity
            android:name=".BlockMatchResultsActivity"
            android:exported="false"
            android:parentActivityName=".BlockMatchActivity"
            android:screenOrientation="portrait" />

        <!-- Новая игра: Шульте (цифры) -->
        <activity
            android:name=".SchulteNumbersActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchulteNumbersResultsActivity"
            android:exported="false"
            android:parentActivityName=".SchulteNumbersActivity"
            android:screenOrientation="portrait" />

        <!-- Новая тренировка: Ошибка в ряду (только альбомная ориентация) -->
        <activity
            android:name=".RowErrorActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".RowErrorResultsActivity"
            android:exported="false"
            android:parentActivityName=".RowErrorActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>
