<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DanaBalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DanaBala">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MathExercisesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NumberRecognitionActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CountingActivity"
            android:exported="false"
            android:parentActivityName=".MathExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ResultsActivity"
            android:exported="false"
            android:parentActivityName=".NumberRecognitionActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>